# MoneyFusion API endpoint for creating payments
MONEYFUSION_API_URL=https://www.pay.moneyfusion.net/payement

# Lien unique pour la redirection et le webhook (confirmation)
APP_CALLBACK_URL=https://monepreuve.cc/api/payments/callback
